*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background-color: #f3f3f3;
    line-height: 1.5;
}

/* Normal Settings */
.section {
    padding: 80px 0;
    border-top: 1px solid #ddd;
  
    transition: transform 1s, opacity 1s;
}
.row{
    max-width: 1140px;
    margin: auto;
}

h2{
    font-size: 5rem;
    font-weight: 600;
}
h3{
    font-size: 3rem;
    font-weight: 400;
}


/* 0 6rem is top and bottom and left and right  */
.nav{
    display: flex;
    justify-content: space-between;
    padding: 0 6rem; 
    z-index: 100;
    height: 9rem;
    width: 100%;
}

.nav .name{
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Cedarville Cursive', cursive;
    color: white;
}

.nav .nav--links{
    display: flex;
    list-style: none;
    align-items: center;
}

.nav .nav--item{
    margin-left: 4rem;
}

.nav .nav--item .nav--link{
    font-size: 1.7rem;
    text-decoration: none;
    color: white;
}
/* Header */
.header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('mainImg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: none;
    background-size: cover;
}


.main-text{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    align-items: center;
    line-height: 1.5;
    height: 100vh;
    color: white;
    text-align: center;
    flex-direction: column;
    line-height: 1;
}
.main-text h1{
    font-weight: 600;
}
.main-text h4{
    font-weight: 300;
}

/* About me */
.about--info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}
.about--info .about--text{
    flex: 2;
}



.about--text p{
    font-weight: 400;
    font-size: 2rem;
    word-spacing: 0.2rem;
    text-align: justify;
    max-width: 800px;
}

.about--info .about--image{
    width: 250px;
    height: 250px;
    
    
    
}

.about--image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* my work */

#section--2{
    background-color: white;
}
.work--heading{
    text-align: center;
}
.work--heading  h4{
    font-size: 1.5rem;
    font-weight: 100;
}




.container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.container .card{
    position: relative;
    max-width: 310px;
    height: 215px;
    margin: 30px 15px;
    padding: 20px 15px;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
    background-color: #f3f3f3;
}

.container .card:hover{
    height: 420px;
}

.container .card .imgBx{
    position: relative;
    width: 250px;
    height: 250px;
    top: -60px;
    left: 20px;
    z-index: 1;
}

.container .card .imgBx img{
    width: 100%;
    border-radius: 4px;
}

.container .card .content{
    position: relative;
    margin-top: -140px;
    padding:  10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container .card .content h3{
    font-weight: 300;
    font-style: italic;
}
.container .card .content p{
    font-size: 14px;
    font-weight: 400;
}

.container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

/* Contact info */

.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contact-form{
    border-radius: 5px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    
    background-color: white;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: rgb(197, 197, 197);
    color: white;
  }

  footer{
      background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
      color: white;
  }

  footer h2{
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
    font-weight: 300;
    font-size: 3rem;
    padding: 1%;
  }








